
<div class="main-content">
    <div class="swipe-area"></div>
        <header class="header">
            <div class="content">
                <a href="#" id="nav-toggle">Menu</a>
            </div>    
        </header>  
        <div class="content">
            <section class="">
                <div class="title">
                    <div class="lable">
                        <span>Video</span>
                    </div>
                    <h1>Videos of My Trip to Hawaai</h1>
                </div>
                <div class="article-wrap">
                    <div class="date-label">
                        <ul>
                            <li>
                                <div>Date:</div>
                                <span class="date">15.05.2015</span>
                            </li>
                            <li>
                                 <div>Category:</div>
                                <a href="">Trip,</a>
                                <a href="">Family</a>
                            </li>
                            <li>
                                <div>Tags:</div>
                                <a href="">Personal,</a>
                                <a href="">Travel</a>
                            </li>
                        </ul>
                    </div>
                    <article>
                        <div class="video">
                            <iframe width="760" height="380" src="https://www.youtube.com/embed/tY_qVHlijOc" frameborder="0" allowfullscreen></iframe>
                        </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed sem quis nunc viverra feugiat ac vel lorem. Praesent tortor mauris, dictum nec aliquam eget, congue non tellus. Integer tristique commodo neque sit amet laoreet. Nunc sit amet suscipit velit. Aenean consectetur est id dui varius dapibus. Etiam id purus lorem. Nullam ullamcorper vulputate gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed sem quis nunc viverra feugiat ac vel lorem. Praesent tortor mauris, dictum nec aliquam eget, congue non tellus. Integer tristique commodo neque sit amet laoreet. Nunc sit amet suscipit velit. Aenean consectetur est id dui varius dapibus. Etiam id purus lorem. Nullam ullamcorper vulputate gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </article>
                </div>
            </section>
            <section>
                <div class="title">
                    <div class="lable">
                        <span>Article</span>
                    </div>
                     <h1>Story of My Life</h1>
                </div>
                <div class="article-wrap">
                    <div class="date-label">
                        <ul>
                            <li>
                                <div>Date:</div>
                                <span class="date">15.05.2015</span>
                            </li>
                            <li>
                                <div>Category:</div>
                                <a href="">Trip,</a>
                                <a href="">Family</a>
                            </li>
                            <li>
                                <div>Tags:</div>
                                <a href="">Personal,</a>
                                <a href="">Travel</a>
                            </li>
                        </ul>
                    </div>
                    <article>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed sem quis nunc viverra feugiat ac vel lorem. Praesent tortor mauris, dictum nec aliquam eget, congue non tellus. Integer tristique commodo neque sit amet laoreet. Nunc sit amet suscipit velit. Aenean consectetur est id dui varius dapibus. Etiam id purus lorem. Nullam ullamcorper vulputate gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed sem quis nunc viverra feugiat ac vel lorem. Praesent tortor mauris, dictum nec aliquam eget, congue non tellus. Integer tristique commodo neque sit amet laoreet. Nunc sit amet suscipit velit. Aenean consectetur est id dui varius dapibus. Etiam id purus lorem. Nullam ullamcorper vulputate gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </article>
                </div>
             </section>
        </div>
</div>