<nav class="nav">
    <div class="nav-wrap">
        <div class="logo logo__text">
            <h2>Digital design</h2>
        </div>
        <ul>
            <li>
                <h3>About me</h3>
                <p>Hi! Welcome to my blog. My name is Mohammad Jeprie. I am a bla-bla-bla and all that bull shit ....</p>
            </li>
            <li>
                <h3>Category</h3>
                <ul>
                    <li><a href="">Trip</a></li>
                    <li><a href="">Family</a></li>
                    <li><a href="">Kids</a></li>
                    <li><a href="">Work</a></li>
                    <li><a href="">Other stuff</a></li>
                </ul>
            </li>
            <li>
                <h3>Pages</h3>
                <ul>
                    <li><a href="">About Me</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Portfolio</a></li>
                </ul>
            <li>
                <h3>Follow me</h3>
                <ul>
                    <li><a href="">Twitter</a></li>
                    <li><a href="">Facebook</a></li>
                    <li><a href="">My space</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>