.header {
    background-color: #d8d8d8;
    .content{
    	padding: 0;
    	height: 36px;
    }
}
#nav-toggle {
    background: #898484;
    border-radius: 3px;
    display: block;
    margin-left: 10px;
    padding: 10px 15px;
    float: left;
    color: #fff;
    &:hover{
    	background-color: #78C47E;
    }
}
.content {
    max-width: 940px;
    margin: 0 auto;
    padding-bottom: 80px;
}
section{
	.title {
    	padding-top: 80px;
    	@include clr();
    	.lable {
		    float: left;
		    width: 100px;
		    padding: 1px;
		    text-align: center;
		    color: #fff;
		    background-color: #78c47e;
		    span {
			    display: block;
			    height: 25px;
			    line-height: 25px;
			    border: 1px solid #fff;
			}
		}
		h1 {
		    float: right;
		    width: 83%;
		    padding-bottom: 20px;
		    font-size: 36px;
		    border-bottom: 1px solid #898484;
		    text-align: center;
		    color: #898484;
		    @include font(Lobster,normal,bold);
		}
	}
}
.article-wrap {
    padding-top: 20px;
    @include clr();
    .date-label {
	    float: left;
	    width: 140px;
	    padding: 10px;
	    height: 170px;
	    color: #898484;
	    font-size: 13px;
	    font-family: Georgia;
	    background-color: #d1d1d1;
		li {
	    	margin-bottom: 20px;
	    	div{
	    		margin-bottom: 5px;
	    	}
	    	a{
    			color: #898484;
    			text-decoration: underline;
    			&:hover{
    				text-decoration: none;
    			}
	    	}
		}
	}
}
article {
    margin-left: 160px;
    .video {
	    padding: 10px;
	    background-color: #d1d1d1;
	    margin-bottom: 25px;
	}
	p {
	    margin-bottom: 30px;
	    font-size: 14px;
	    line-height: 20px;
	    font-family: Georgia;
	    color: #898484;
	}
}