.wrapper .open-menu{
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.nav {
    position: absolute;
    background: #d8d8d8;
    width: 480px;
    top: 0;
    bottom: 0;
    z-index: 10;
    -moz-transform: translate3d(-480px, 0, 0);
    -ms-transform: translate3d(-480px, 0, 0);
    -webkit-transform: translate3d(-480px, 0, 0);
    -o-transform: translate3d(-480px, 0, 0);
    transform: translate3d(-480px, 0, 0);
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
    @include box-shadow(-7px,0, 7px,rgba(0,0,0,0.36),inset);
    .nav-wrap{
        max-width: 250px;
        margin:0 auto;
        padding: 0 15px;
    }
}
.logo {
    margin: 0 auto;
    padding-top: 115px;
    background: url(../images/logo.png);
    width: 183px;
    height: 208px;
}
.logo__text h2 {
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    color: #ccb47d;
}
.nav{
    h3 {
        margin-top: 25px;
        margin-bottom: 10px;
        padding-bottom: 15px;
        font-size: 24px;
        color: #898484;
        font-family: Lobster;
        font-style: italic;
        font-weight: bold;
        border-bottom: 1px solid #898484;
    }
    a{
        font-size: 14px;
        color: #898484;
        font-family: Georgia; 
        line-height: 20px;
        &:hover{
            text-decoration: underline;
        }      
    }
    p{
        font-size: 14px;
        color: #898484;
        font-family: Georgia;  
    }
}